*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-width: 800px;
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1px;
}

.contentContainer {
    display: grid;
    grid-template-columns: 10fr 2fr;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.interactionBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.tradingview-widget-container {
    margin-top: 1em;
    width: 780px;
}